<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/GP</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.highlight_sql">true</property>
		
		<!-- Mapping 範例 <mapping class="web.member.pojo.Member" /> -->
		<mapping class="order.entity.MainOrder"/>
		<mapping class="order.entity.SubOrder"/>
		<mapping class="order.entity.SubOrderDetail"/>
		<mapping class="product.entity.Product"/>
		<mapping class="product.entity.ProductSpec"/>
		<mapping class="product.entity.Categorie"/>
		<mapping class="product.entity.FrontendPage"/>
		<mapping class="product.entity.RestockRecord"/>
		<mapping class="product.entity.ShelvesStatusRecord"/>
		<mapping class="product.entity.SortWeight"/>
		
		
	</session-factory>
</hibernate-configuration>