* {
    font-family: monospace, Helvetica, sans-serif, serif;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #FDC761;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #4C4C4C;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #4C4C4C;
}

h4 {
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    color: #606060;
}

h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #606060;
}

h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #606060;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #606060;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: monospace, Helvetica, sans-serif, serif;
    font-size: initial;
    line-height: initial;
}

input::placeholder {
    color: #B6B6B6
}